- content_for :head do
  %title Gridwax

=link_to "https://twitter.com/intent/user?screen_name=itg",
  :class => "twitter",
  "data-type" => "track",
  "data-name" => "Outbound Link",
  "data-properties" => "{\"destination\": \"Twitter\", \"location\": \"Banner\"}" do
  %i.icon-twitter
  %span follow me

#page

  .wrapper
    .lightning
      .make
        .text MAKE
      .vertical-rhythm VERTICAL RHYTHM
      .your
        .text YOUR
      .friend B*!@#
      .youve
        .text YOU'VE
      .got-this GOT THIS!

    .bolt
      #gridwax-logo
        %p introducing
        %h1 GRIDWAX
      %ul.steps
        %li.one
          %p drag to your bookmark bar
          = link_to "gridwax",
            "javascript:(function()%7Bdocument.body.appendChild(document.createElement('script')).src='http://itsthatguy.github.com/gridwax/gridwax.js';%7D)();",
            :class => "circled",
            "data-type" => "track",
            "data-name" => "Internal Link",
            "data-properties" => "{\"destination\": \"Drag to Bookmark Bar\"}"
        %li.two
          %p click on your new bookmark
        %li.three
          %p use the hotkeys
          %h4.spacing Adjust the Vertical Spacing
          %h4.offset Adjust the Vertical Offset
.pager

%footer
  = link_to "http://twitter.com/itg",
      :class => "credit-itg",
      "data-type" => "track",
      "data-name" => "Outbound Link",
      "data-properties" => "{\"destination\": \"Twitter\", \"location\": \"Footer\"}" do
    gridwax was made by
    %span.blue @itg
  = link_to "https://github.com/itsthatguy/gridwax",
    :class => "github",
    "data-type" => "track",
    "data-name" => "Outbound Link",
      "data-properties" => "{\"destination\": \"Github\", \"location\": \"Footer\"}" do
    view the source on github
    %i.icon-github